<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.UserMapper" >

	<!-- 添加用户 -->
	<!-- Integer insert(User user) -->
	<insert id="insert">
		insert into t_user(
			username,password,
			salt,gender,phone,
			email,avatar,is_delete,
			created_user,creater_time,
			modified_user,modified_time
		)values(
			#{username},#{password},
			#{salt},#{gender},#{phone},
			#{email},#{avatar},#{isDelete},
			#{createdUser},#{createrTime},
			#{modifiedUser},#{modifiedTime}
		)
		
	</insert>
	
	<!-- 根据uid修改密码及相关信息 -->
	<!-- 	Integer updateById(@Param("uid")Integer uid,
	         @Param("password")String password,@Param("modifiedUser")String modifiedUser,
	         @Param("modifiedTime")Date modifiedTime); -->
	<update id="updateById">
		update
     		t_user
 		 set
     		password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
  		where 
    		 uid=#{uid}
	</update>
	
	<!-- 修改用户个人资料 -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		  update 
   			 t_user
 		  set
   			 phone=#{phone},email=#{email},
   			 gender=#{gender},
   			 modified_user=#{modifiedUser},modified_time=#{modifiedTime}
 		  where 
   			 uid=#{uid}
	</update>
	
	<!-- 修改用后头像 -->
	<!-- Integer updateAvatar(@Param("uid")Integer uid,
			@Param("avatar")String avatar,
			@Param("modifiedUser")String modifiedUser,
			@Param("modifiedTime")Date modifiedTime); -->
	<update id="updateAvatar">
		update
		   t_user
		set
		  avatar=#{avatar},modified_user=#{modifiedUser},
		  modified_time=#{modifiedTime}
		where
		  uid=#{uid}
	
	</update>
	
	<!--  根据用户姓名,查询用户信息 -->
	<!--User findByUsername(String username);  -->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select 
		 uid,username,password,salt,avatar,is_delete as isDelete
		from 
		  t_user
		 where username=#{username}
	</select>
	
	<!-- 根据用户id查找用户相关信息 -->
	<!-- User selectByUid(Integer uid) -->
	<select id="selectByUid" resultType="cn.tedu.store.entity.User">
		  select
    		username,phone,gender,email,password,salt,is_delete as isDelete
  		  from 
    		 t_user
  	      where 
             uid=#{uid}
	</select>
</mapper>
